.class{
    height: 100px;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}
.rip{
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

.titleR{
    border: 1px solid rgb(15, 108, 145);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
